.MainMapContainer{
    width: 100%;
    display:flex;
    flex-direction: row;
}
::-webkit-scrollbar {
    display: none;
    }

.Mapcontainer{
    width: 100%;
    height: 730px;
}
.MapContainer{
    /* margin-left: 10px; */
    /* height: 760px; */
    height: 730px;
    width: 100%;
  }

.Inputcontainer{
    background-color:#333333!important;
    width: 100%;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    height: 730px;
    overflow: scroll;
}

.Inputcontainerheading{
    width: 100%;
    font-size: 20px;
    color: #fff;
    text-align: center;
}


.Inputtab{
    width: 100%;
    background-color: #666666;
    border-radius: 5px;
    margin-top: 30px;
    padding-bottom: 10px;
}

.todobox{
    height: 55px;
    border: none;
    border-bottom: 1px solid #FFF;
    background-color: #666;
    padding-top: 20px;
    color: #fff;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.todobox:focus{
    outline: none;
}


.todobox::placeholder{
    color: #fff;
}
.grid {
    display: flex;
    flex-direction: column;
}

.inputtime{
    color: #fff;
    width: 50%;
}

.MuiFormControl-marginNormal{
    margin-left: 45px !important;
    border-bottom: 2px solid #fff !important;
}

.MuiInputBase-input{
    color: #fff !important;
    font-size: 20px;

}

.MuiIconButton-label {
    color: #fff !important;
}

.submitbtn{
    background-color: green;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
}




































@media only screen and (max-width:1224px){
    .Mapcontainer{ 
        height: 400px;
        width: 100%;
      }

    .MainMapContainer{
        flex-direction: column;
        width: 100%;
    }

    .Inputcontainer{
        height: 350px;
    }

    .MapContainer{
        margin-top: 5px;
        height: 400px;
        width: 100%;
      }

      .Inputcontainerheading{
          font-size: 40px;
          margin-top: 10px;
      }

      .itemoutput{
          width: 100%;
      }

}
@media only screen and (max-width:700px){
    .Inputcontainerheading {
        font-size: 30px;
        margin-top: 10px;
    }
    .Inputcontainer{
        height: 315px;
    }
    .Mapcontainer{
        height: 350px;
        width: 100%;
      }

      .MapContainer{
        margin-top: 5px;
        height: 350px;
        width: 100%;
      }
}
@media only screen and (max-width:500px){
    .Inputcontainer{
        height: 300px;
    }
    .Mapcontainer{
        height: 370px;
        width: 100%;
      }

      .MapContainer{
        margin-top: 5px;
        height: 370px;
        width: 100%;
      }

      .Inputcontainerheading {
        font-size: 25px;
        margin-top: 10px;
    }

}

@media only screen and (max-width:400px){
    .Mapcontainer{
        height: 340px;
        width: 100%;
      }

      .MapContainer{
        margin-top: 5px;
        height: 340px;
        width: 100%;
      }

      .Inputcontainer{
        height: 325px;
    }
}