.itemoutput{
    width: 95%;
    background-color:#666666 !important;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

.completedtask{
    width: 95%;
    background-color:green !important;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px; 
}

.inputmain {
    width: 100%;
    height: 600px;
    overflow: scroll;
    
}

.taskdiv{
    width: 100%;
    display: flex;
}

.completed{
    margin-right: 15px;
}
.completed > i{
    color: #00FF00;
    cursor: pointer;
    padding: 1px;
    font-size: 20px;
}

.text-danger>i{
    cursor: pointer;
}

.itemtask{
    width: 80%;
}






@media only screen and (max-width:600px){


    .itemoutput > p{
        font-size: 30px;
    }

    .itemtask {
        width: 80%;
        font-size: 35px;
    }
    .completed > i {
        color: #00FF00;
        cursor: pointer;
        padding: 1px;
        font-size: 35px;
    }
    .text-danger>i{
        cursor: pointer;
        font-size: 35px;
    }


}